$header-height: 50px;

* {
  box-sizing: border-box;
}

.header {
  position:absolute;
  z-index: 10;
  background-color: #000066;
  color: white;
  height: $header-height;
  text-align: center;
  padding-top: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}