$header-height: 30px;

* {
  box-sizing: border-box;
}

.header {
  background-color: #000066;
  color: white;
  height: $header-height;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}