body, button {
	font-family: Occupied, sans-serif;
	font-size: 28px;
}
@font-face {
	font-family: Quantum;
	src: url(../fonts/Quantum.otf);
}
@font-face {
	font-family: Occupied;
	src: url(../fonts/Occupied.otf);
}

section {
	width: 100vw;
	height: 100vh;
}