body,
button {
  font-family: Occupied, sans-serif;
  font-size: 28px;
}
@font-face {
  font-family: Quantum;
  src: url("../fonts/Quantum.otf");
}
@font-face {
  font-family: Occupied;
  src: url("../fonts/Occupied.otf");
}

h1 {
  font-size: 0.75em;
}

section {
  padding-top: 30px;
  background: linear-gradient(to bottom, rgba(255, 0, 77, 0.75), rgba(255, 242, 74, 0.85));
  width: 100vw;
  height: 100vh;
}

  .noscroll {
        position: fixed;
        overflow: hidden;
    }

@import 'header';
@import 'loader';
@import 'instruction';
@import 'galleryimg';
@import 'gifScreen';
@import 'galleryemoticon';
@import 'endScreen';