#gallery2 {
  z-index: 4;
}
$header-height: 30px;

.gallery__img--emoticon {
  display: flex;
  justify-self: center;
  align-self: center;
}

.gallery {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding-top: $header-height;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;

  &__img {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__timer {
    $timer-size: 100px;
    background-color: white;
    width: $timer-size;
    height: $timer-size;
    margin-top: $header-height / 2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#gallery1 {
  z-index: 7;
}