.gifScreen {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	.gifScreen__gif {
		grid-column-start: 1;
		align-self: center;
		justify-self: center;
	}
}

#gifScreen {
	z-index: 6;
}