/*  sceens with instruction */

	.instruction {
		display:flex;
		justify-content:center;
		flex-direction:column;
		text-align:center;
		font-size:25px;
	
	&__p {
		width: 95%;
		padding: 0 2.5%;
		align-self: center;
	}
	}

	.instruction__button {
		margin-top:20%;
		background-color: #4CAF50;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 16px;
	}

.noscroll {
  position: fixed;
  overflow: hidden;
}

#instruction1 {
	z-index:8;
	/*end*/
}

#instruction2 {
	z-index:5;
	/*end*/
}



